/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 18, 2021, 9:14:26 PM
    Author     : WENDY
*/

razonSocial
{
    display:block;
     border:coral 1px solid;
     padding:10px;
     background-color: whitesmoke;
}
nombreComercial,ruc,fechaEmision{
    display:list-item;
    margin-left: 50px;
}
nombre,apellido,telefono,direccion 
{
    display:block;
}
[class=nomD],cantidad,precio
{
    display:block;
    border:blue 1px solid;
    display:table-cell;
}

detalleConsumo
{
    display:table;
    border-style:10px;
    border:black 1px solid;
    margin-left: 50px;
}

[class=nom]
{
    display:list-item;
    margin-left: 90px
}

#apell{
    color:yellow;
    font-size: 30px;
}
[class=nomD]{
    color:coral;
    font-size: 30px;
}